/* contact page/about page layout */

.contact-wrapper,
.about-wrapper {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-module,
.bio-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/* navbar */

.navbar-custom .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-transform: lowercase;
}

/* header logo text effect on "m" */

.navbar-brand span {
  height: 16px;
  line-height: 13px;
  position: relative;
}

.navbar-brand > span {
  float: left;
  transform: rotate(40deg);
}

/* header logo color of "m" */

.navbar-brand span:first-of-type {
  color: #863232;
}

/* bio image container height */

.chris-bio {
  min-height: 70vh;
}

.chris-header {
  margin-top: 10px;
}

/* icon colors */

.fa-stack a {
  color: #999;
}

.fa-stack a:hover {
  color: white;
  transition-delay: initial;
  transition-duration: 0.75s;
  transition-timing-function: initial;
}

.iconBadge {
  border: 0.14rem solid #999;
  border-radius: 10rem;
  display: inline-block;
  font-size: 70%;
  text-align: center;
}

.iconBadge:hover {
  background-color: rgb(15, 15, 15);
  border: 0.14rem solid rgb(15, 15, 15);
  transition-property: all;
  transition-delay: initial;
  transition-duration: 0.75s;
  transition-timing-function: initial;
}

/* icon section less padding */

.module-small.socialIcons {
  padding: 30px 0;
}

/* widens gallery project box images */

.projects .work-item {
  width: 100%;
}

/* hides project gallery images */

.hiddenItem {
  display: none;
}

/* less padding on bottom of project content */

.module.portfolio-content {
  padding-bottom: 50px;
}

/* about page */

.module.bio {
  padding: 70px 0;
}

/* magnifying glass next to gallery text */

.galleryGlass {
  font-size: smaller;
}

/* hide signature */

.signature {
  display: none;
}

/* once the project sort option disappears this makes the overlay with text visible on portfolio content*/

@media screen and (max-width: 767px) {
  .work-item .work-image:after {
    background: rgba(0, 0, 0, 0.5);
  }
  .work-item .work-caption {
    bottom: 50%;
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
  }
}
